
@media only screen and (max-width: 768px) {
    .navbar{
        display: flex;
    }
    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-button{
        display: flex;
        margin-left: 75px;
        height: 58px;
        gap: 20px;
    }
     .container {
         max-width: 1050px;
         height: 1006px;
         margin: 0 auto;
         padding-bottom: 80px;
    }
   .main-content {
        margin-left:195px;
        margin-right:195px;
   }
}

@media only screen and (max-width: 320px) {
    .header .container {
        width: 100%;
        padding: 5px;
    }
}
@media only screen and (min-width: 320px){
    .header{
        width: 100%;
        padding: 15px;
    }
    .container{
        width: 100%;
        padding: 10px;
    }

}